
@using dcboe.Components.Widgets.AccordianWidget;
@addTagHelper *, Kentico.Content.Web.Mvc
@using Microsoft.AspNetCore.Http.Extensions

@model IEnumerable<AccordianWidgetViewModel>
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="">

                    @{ int i = 0; }
                    <div class="sidebar hidden-xs">
                        <nav class="nav-secondary" role="navigation">
                            <ul role="menubar" aria-hidden="false">
                                @foreach (AccordianWidgetViewModel item in Model)
                                {
                                    @item;

           var className = "";

           if (item.MenuItemRelativeUrl == Context.Request.GetEncodedUrl())
           {
               className = "current";
           }

                            <li role="menuitem" class=@className>
                                <a role="link" href=@item.MenuItemRelativeUrl>@item.MenuName</a>
                            </li>
                            i++;

                        }
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>