
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
<!DOCTYPE html>
<html>
<head>
    <title>
        District of Columbia Board of Elections - /
    </title>
    <meta http-equiv="pragma" content="no-cache" />
    <link href="~/css/bundle1.css" type="text/css" rel="stylesheet" />
    <link href="~/css/custom.css" type="text/css" rel="stylesheet" />
    <link href="~/css/main.css" type="text/css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="http://f1-na.readspeaker.com/script/37/webReader/webReader.js?pids=wr" type="text/javascript"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jqueryValidate.js"></script>
    <script src="~/js/bundle.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/formHelper.js"></script>
    <script src="~/js/main.js"></script>

    @Html.Kentico().PageBuilderStyles()
</head>
<body>
    <div class="header" role="banner">
        <div class="header__bar">
            <div class="container">
                <div class="header__holder">
                    <nav class="nav-utilities" role="navigation" aria-label="Utilities menu">
                        <ul role="menubar" aria-hidden="false">
                            @await Component.InvokeAsync("NavigationMenu", "top")
                        </ul>
                    </nav>
                    <div class="socials">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/Vote4DC/" target="_blank" Title="Facebook" aria-label="Link to District of Columbia Board of Elections Facebook Page">
                                    <i class="ico-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Vote4DC" target="_blank" title="Twitter" aria-label="Link to District of Columbia Board of Elections Twitter Page">
                                    <i class="ico-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/vote4dc/" target="_blank" title="Instagram" aria-label="Link to District of Columbia Board of Elections Instagram Page">
                                    <i class="ico-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCXMvT2yptWuxdOIXUePqhxg" target="_blank" title="YouTube" aria-label="Link to District of Columbia Board of Elections YouTube Channel">
                                    <i class="ico-youtube" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__content">
            <div class="container">
                <a href="/" class="logo">District of Columbia</a>
                <a href="#" class="nav-btn" aria-label="Toggle menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <nav class="nav" role="navigation" aria-label="Main menu">
                    <ul class="nav-menu">
                        @await Component.InvokeAsync("NavigationMenu", "main")
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="wrapper">
        @RenderBody()    
    </div>
    <div class="bar">
        <div class="container">
            <div class="row">
                <div class="column col-lg-6">
                    <div class="subscribe" role="form" aria-label="subscribe">
                        <form action="/Subscription" method="post">
                            <div class="subscribe__row">
                                <label for="mail" class="hidden">Email</label>
                                <input type="email" id="subEmail" name="subEmail" value="" placeholder="Get Email Updates" class="subscribe__field" aria-label="Enter E-mail address to subsribe">
                                <input role="button" title="Subscribe Button" id="btnSubmit" type="button" value="Subscribe" class="subscribe__btn" onclick="javascript:submitEmail();" tabindex="0">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="column col-lg-6 socials-align text-right">
                    <div class="socials socials--follow">
                        <span>Follow Us</span>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/Vote4DC/" target="_blank" title="Facebook" aria-label="Link to District of Columbia Board of Elections Facebook Page">
                                    <i aria-hidden="true" class="ico-facebook-large"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Vote4DC" target="_blank" title="Twitter" aria-label="Link to District of Columbia Board of Elections Twitter Page">
                                    <i aria-hidden="true" class="ico-twitter-large"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/vote4dc/" target="_blank" title="Instagram" aria-label="Link to District of Columbia Board of Elections Instagram Page">
                                    <i aria-hidden="true" class="ico-instagram-large"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCXMvT2yptWuxdOIXUePqhxg" target="_blank" title="YouTube" aria-label="Link to District of Columbia Board of Elections Youtube Channel">
                                    <i aria-hidden="true" class="ico-youtube-large"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <footer aria-label="Page End" class="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="column col-lg-6">
                        <div class="footer__inner">
                            <div class="footer__logo"><a class="footer-logo" href="/">District of Columbia</a></div>

                            <div class="footer__content">
                                <h5>DC Board of Elections</h5>
                                <ul>
                                    <li>1015 Half Street, SE, Suite 750</li>
                                    <li>Washington, DC 20003</li>
                                    <li>Tel: (202) 727-2525</li>
                                    <li>Tollfree: 1-866-DC-VOTES</li>
                                    <li>TTY: 711 (in DC)</li>
                                    <li>TTY (Text Telephone): 800-643-3768</li>
                                    <li>Spanish TTY: 800-546-7111</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="column col-lg-6">
                        <div class="footer__container">
                            <div class="footer__nav">
                                <ul class="nav-menu">
                                    @await Component.InvokeAsync("NavigationMenu", "footer")
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
      
        @Html.Kentico().PageBuilderScripts()

</body>
</html>
