
@using dcboe.Components.Widgets.EventWidget;
@addTagHelper *, Kentico.Content.Web.Mvc
@using Microsoft.AspNetCore.Http.Extensions

@model IEnumerable<EventWidgetViewModel>

<div class="container py-3">
    <div class="row">
        <div class="col-lg-12">

            @if (Model.First().showButton)
            {
                int i = 0;
                <ul class="list-events">
                    @foreach (EventWidgetViewModel item in Model)
                    {

                        <li>
                            <a role="link" class="list-events__date" href="#">@item.start.ToString("MMM")<br> <strong>@item.start.Day</strong></a>

                            <span><a href=@item.url role="link">@item.title</a></span>
                        </li>


                        i++;

                    }

                </ul>
                <a href="/community-outreach/events-calendar" role="button" title="View All Events" class="btn btn--default">View all Events</a>

            }

            @foreach (EventWidgetViewModel item in Model)
            {
                if (!item.showButton)
                {

                 <div id="calendar"></div>

                }
                break;
            }

        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            initialDate: new Date(),
            navLinks: true, // can click day/week names to navigate views
            businessHours: true, // display business hours
            editable: true,
            selectable: true,
            events: JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(@Model)'.replaceAll('&quot;', '"'))
        });
    calendar.render();
    });
</script>
