<div class="intro" title="Intro" role="region">
    <div class="intro__container">
        @await Html.Kentico().EditableAreaAsync("area1")
    </div>
</div>
<script>
            $(document).ready(function () {
                $('.carousel').carousel({
                    interval: 2000
                });
            });
</script>
